.blue-color {
  color: blue;
}

.blueviolet-color {
  color: blueviolet;
}

.bag-button {
  background-color: lightgreen;
  border-radius: 20PX;
  border: none;
  padding: 4px 10px;
}

.wishlist-button {
  border-radius: 8px;
  padding: 4px 30px;
  border: 1px solid black;
}